<div class="row align-items-center mb-3">
	<div class="col-2">
		<img src="{{ asset('images/marques/' ~ logo ) }}" class="img-fluid" alt="">
	</div>
	<div class="col-10">
		<p>{{shortDescription}}</p>
	</div>
</div>
