<div class="row">
	<div class="col-12">
		<img src="{{photo}}" alt="">
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{nomComplet}}
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{fonction}}
	</div>
</div>
