{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<ol>
    <li>Accueil</li>
    <li>Qui sommes-nous ?</li>
</ol>

<h3>À propos de Marconnet technologies™</h3>

<h4>Présentation de la société</h4>

<p>Marconnet technologies™ commercialise depuis plus de 13 ans une large gamme de produits sur mesure destinée aux personnes à mobilité réduite.

Notre écoute et nos conseils vous permettront de vous orienter vers le matériel le plus adapté à vos besoins afin de vous satisfaire pleinement.

Notre objectif : Votre satisfaction !

Les produits commercialisés ont été testés et approuvés par un grand nombre de professionnels de la santé et par les utilisateurs finaux. De nombreux témoignages attestent de la qualité des produits.

Nous choisissons uniquement un fabricant par gamme de matériels que nous avons soigneusement sélectionné afin de proposer les meilleurs matériels sur chaque segment de marché.
</p>

<img src="https://picsum.photos/70/70" alt="">
<p>Handbikes manuel, à assistance électrique et tout électrique</p>

<img src="https://picsum.photos/70/70" alt="">
<p>Handbikes manuel, à assistance électrique et tout électrique</p>

<img src="https://picsum.photos/70/70" alt="">
<p>Handbikes manuel, à assistance électrique et tout électrique</p>

<p>N'attendez plus et contactez-nous pour plus d’informations sur nos différents matériels. 
</p>

<h4>Notre réseau de distribution national</h4>

<p>Marconnet technologies™ s'appuie sur un réseau de distribution national avec grandes enseignes de revendeurs médicaux  mais aussi avec les revendeurs indépendants. Vous trouverez près de chez vous la solution adaptée à vos besoins.

N'hésitez pas à solliciter votre revendeur habituel pour toutes questions ou essais de matériels.</p>

<img src="https://picsum.photos/70/70" alt="">

{% endblock %}
