{% extends 'base.html.twig' %}

{% block title %}Marconnet technologies™
{% endblock %}

{% block body %}

<div class="container-xl">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{path('homepage')}}">Accueil</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Qui sommes-nous ?</li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-12">
			<h2>À propos de Marconnet technologies™</h2>
		</div>
	</div>

	<div class="presentation-marconnet">
		<div class="row">
			<div class="col-12">
				<h3>Présentation de la société</h3>
			</div>

			<div class="row">
				<div class="col-12">
					<p>Marconnet technologies™ commercialise
						<span class="color-sky-blue">depuis 2004</span>
						une large gamme de produits sur mesure destinée aux personnes à mobilité réduite.
						<span class="color-sky-blue">Notre écoute et nos conseils</span>
						vous permettront de vous orienter vers le matériel le plus adapté à vos besoins afin de vous satisfaire pleinement.</p>
					<p class="color-sky-blue">Notre objectif : Votre satisfaction !</p>
					<p>Les produits commercialisés ont été testés et approuvés par un grand nombre de professionnels de la santé et par les utilisateurs finaux. De nombreux témoignages attestent de la qualité des produits.</p>
					<p>Nous choisissons uniquement les meilleurs fabricants par gamme de matériels que nous avons soigneusement sélectionnés afin de proposer les meilleurs matériels sur chaque segment de marché.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="nos-fournisseurs">
		<div class="row h-100 fournisseur">
			{% include "about/_about_marques_partenaires.html.twig" with {
					'logo' : 'stricker.png',
					'marque' : 'Stricker',
					'contenu' : 'Stricker, le spécialiste des handbikes manuel, à assistance électrique et tout électrique.'
				} %}
			{% include "about/_about_marques_partenaires.html.twig" with {
					'logo' : 'draisin.png',
					'marque' : 'Draisin',
					'contenu' : 'Draisin, notre partenaire historique spécialisé dans les tricycles. Nous travaillons avec Draisin depuis plus de 20 ans !'
				} %}
			{% include "about/_about_marques_partenaires.html.twig" with {
					'logo' : 'vanraam.png',
					'marque' : 'Van Raam',
					'contenu' : 'Van Raam est une marque néerlandaise de vélos et de tricycles adaptés aux personnes à mobilité réduite.'
				} %}
			{% include "about/_about_marques_partenaires.html.twig" with {
					'logo' : 'moving-life.png',
					'marque' : 'Moving Life',
					'contenu' : 'Moving Life est une marque de véhicules de mobilité personnelle, notamment de scooters électriques portables et pliables. Ils sont conçus pour être faciles à transporter et à utiliser dans les déplacements quotidiens.'
				} %}</div>

		<div class="row">
			<div class="col">
				<p>N'attendez plus et
					<a href="{{path('contact')}}">contactez-nous</a>
					pour plus d’informations sur nos différents matériels.
				</p>
			</div>
		</div>
	</div>


	{# l'equipe marconnet technologies™ #}
	<div class="team-members">
		<h3 style="padding-top: 8px">Notre équipe</h3>
		<div class="row h-100">
			{% include "about/_members.html.twig" with {
					'profilePicture' : 'benjamin.png',
					'nom' : 'Benjamin MARCONNET',
					'fonction' : 'Gérant',
					'presentationMember' : 'En recherche constante de solutions et produits innovants à proposer à nos clients.',
					'linkedin' : 'https://fr.linkedin.com/in/benjamin-marconnet'
				} %}

			{% include "about/_members.html.twig" with {
					'profilePicture' : 'luigi.png',
					'nom' : 'Luigi LENFANT-HOUICHE',
					'fonction' : 'Responsable commercial réseau BtoB',
					'presentationMember' : 'En charge du développement commercial du réseau de prestataires de santé.',
					'linkedin' : 'https://fr.linkedin.com/in/luigi-lenfant-houiche'
				} %}

			{% include "about/_members.html.twig" with {
					'profilePicture' : 'pierre.jpg',
					'nom' : 'Pierre PALANT',
					'fonction' : 'Responsable SAV et maintenance',
					'presentationMember' : 'Assure l\'ensemble des réparations et révisions de tous nos produits grâce à ses 20 ans d\'expérience dans le monde du cycle.',
					'linkedin' : '#'
				} %}

			{% include "about/_members.html.twig" with {
					'profilePicture' : 'emmanuelle.jpg',
					'nom' : 'Emmanuelle BENAZET',
					'fonction' : 'Assistante ADV et commerciale',
					'presentationMember' : 'Assure le bon déroulement des opérations administratives',
					'linkedin' : '#'
				} %}

			{% include "about/_members.html.twig" with {
					'profilePicture' : 'charlie.png',
					'nom' : 'Charlie NASSAR',
					'fonction' : 'Responsable stratégie et marketing',
					'presentationMember' : 'Participe à la stratégie générale de l\'entreprise et à la communication.',
					'linkedin' : 'https://fr.linkedin.com/in/charlie-nassar-ba68b8165'
				} %}

				{% include "about/_members.html.twig" with {
					'profilePicture' : 'baptiste.jpg',
					'nom' : 'Baptiste Bietry',
					'fonction' : 'Expert robotique',
					'presentationMember' : 'À la disposition de nos clients afin de leur proposer les robots et solutions logicielles correspondant à leurs besoins. Assure la formation logicielle.',
					'linkedin' : '#'
				} %}

				{% include "about/_members.html.twig" with {
					'profilePicture' : 'victor.jpg',
					'nom' : 'Victor Bruneau',
					'fonction' : 'Conseiller technique handicap',
					'presentationMember' : 'Commercial en charge de la prospection et du développement sur la gamme des tricycles.',
					'linkedin' : 'https://www.linkedin.com/in/victor-bruneau/'
				} %}

				{% include "about/_members.html.twig" with {
					'profilePicture' : 'ismael.jpg',
					'nom' : 'Ismael Ancelin',
					'fonction' : 'Conseiller technique handicap',
					'presentationMember' : 'Commercial en charge de la prospection et du développement du réseau de prestataires de santé',
					'linkedin' : 'https://www.linkedin.com/in/isma%C3%ABl-ancelin-10979527b/'
				} %}
			</div>
		</div>
	</div>


	{# notre reseau de distribution nationale #}
	<div class="container-fluid" style="background-color: #f9f9f9">
		<div class="container-xl">
			<div class="distribNational">


				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="row">
							<div class="col-12">
								<h3>Notre réseau de distribution national</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p>
									<span class="color-sky-blue">Marconnet technologies™</span>
									s'appuie sur un réseau de distribution national avec de grandes enseignes de
									<span class="color-sky-blue">
										revendeurs médicaux</span>
									mais aussi avec les
									<span class="color-sky-blue">revendeurs indépendants</span>. Vous trouverez près de chez vous la solution adaptée à vos besoins.</p>
								<p>N'hésiez pas à solliciter votre revendeur habituel pour toutes questions ou essais de matériels.</p>
							</div>
						</div>
					</div>
					{# <div class="col-12 col-lg-6"> #}
					{# <img src="{{asset('images/reseau-vente.jpg')}}" alt=""> #}
					{# </div> #}
						<div class="col-12 col-lg-6"> <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_benenm47.json" autoplay loop speed="0.6" id="about-lottie"></lottie-player>
					</div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}
