{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<h3>Se connecter</h3>

	<p>Seuls les professionnels peuvent se créer un compte. Pour les particuliers, nous vous proposons de vous inscrire à la newsletter.</p>
	<p>Si vous n’avez pas encore de compte, cliquez
		<a href="{{path("homepage")}}">ici</a>.</p>

	{{form_start(formView)}}

	{{form_widget(formView)}}

	<p>Se connecter</p>

	{{form_end(formView)}}

{% endblock %}
