{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Create new User</h1>

		{{ include('admin_crud_user/_form.html.twig') }}

		<a href="{{ path('app_admin_crud_user_index') }}">back to list</a>
	</div>
{% endblock %}
