{% extends 'base.html.twig' %}

{% block title %}Mettre à jour mon mot de passe
{% endblock %}

{% block body %}
	<div class="container-xl">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1>Mettre à jour mon mot de passe</h1>

		<div class="row">
			<div class="col-8">
				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
						Entrez votre adresse email et nous vous enverrons un lien pour que vous puissiez changer votre mot de passe.
					</small>
				</div>

				<button class="btn btn-primary" style="margin: 20px 0 80px 0">Envoyer</button>
				{{ form_end(requestForm) }}
			</div>
		</div>
	</div>
{% endblock %}
