{% extends 'base.html.twig' %}

{% block title %}En savoir plus sur les cookies
{% endblock %}

{% block body %}

	<div class="container-xl mb-5">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('homepage')}}">Accueil</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">En savoir plus sur les cookies</li>
			</ol>
		</nav>

		<h2>1. En savoir plus sur les cookies et la confidentialité</h2>
    
		<h3>Les cookies que nous utilisons</h3>
		<p>
			Ce site utilise différents types de cookies pour améliorer votre expérience. Voici un aperçu des cookies que nous utilisons :
		</p>
		
		<h3>Cookies nécessaires</h3>
		<p>
			Ces cookies sont indispensables au fonctionnement de notre site. Ils vous permettent de naviguer et d'utiliser les principales fonctionnalités, comme l'accès à des zones sécurisées. Ces cookies ne peuvent pas être désactivés.
		</p>

		<h3>Cookies marketing</h3>
		<p>
			Ces cookies sont utilisés pour vous proposer des contenus personnalisés et des publicités en lien avec vos centres d'intérêt. Par exemple, sur ce site, nous utilisons Google Maps pour afficher la localisation de notre entreprise. L'utilisation de Google Maps peut impliquer la collecte de données par Google à des fins publicitaires et de suivi.
		</p>
		
		<h2>2. Comment gérer vos préférences de cookies ?</h2>
		<p>
			Vous pouvez modifier vos préférences de cookies à tout moment en cliquant sur "Modifier le consentement aux cookies" dans le pied de page de notre site. Cela vous permet de contrôler les types de cookies que vous acceptez.
		</p>

		<h2>3. Politique de confidentialité</h2>
		<p>
			En plus des cookies, nous collectons certaines données personnelles lorsque vous remplissez des formulaires sur notre site. Voici comment nous traitons vos données :
		</p>
		
		<h3>Les données que nous collectons</h3>
		<p>
			Nous collectons les informations que vous nous fournissez via les formulaires de contact, comme votre nom, adresse e-mail, téléphone, etc. Ces informations sont utilisées pour répondre à vos demandes et améliorer nos services.
		</p>

		<h3>Utilisation des données</h3>
		<p>
			Les données que vous nous fournissez sont utilisées exclusivement pour répondre à vos demandes ou améliorer votre expérience sur notre site. Elles ne sont pas vendues à des tiers.
		</p>

		<h3>Vos droits</h3>
		<p>
			Conformément à la réglementation européenne (RGPD), vous disposez de droits concernant vos données personnelles, notamment le droit d'accéder à vos données, de les corriger ou de les supprimer. Pour exercer vos droits, contactez-nous à info@marconnet-technologies.com.
		</p>
		
		<h3>Sécurité</h3>
		<p>
			Nous mettons en œuvre des mesures de sécurité pour protéger vos données contre toute utilisation abusive.
		</p>

		<h3>Modification de cette politique</h3>
		<p>
			Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toutes les modifications seront publiées sur cette page.
		</p>
	</div>
{% endblock %}
