.footer {
    background-color: #0F434E;
    color: white;
    height: 500000px;
}

.titreFooter {
    font-weight: bold;
    font-size: 1.5em;
}

.bottomFooter {
    font-size: 0.85em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #168896 !important;
    border-color: #168896 !important;
}

.champsObligat {
    font-style: italic;
}

.logo {
    width: 30px;
}

.nomPartenaire {
    font-size: 1.5em;
    font-weight: bold;
    color: #0F434E;
}