html,
body {
    padding: 0;
    margin: 0;
}

/* -- NAVBAR --  */

.navbar-border {
    background-color: #0F434E;
    border-bottom: 1px solid #0F434E;
}

.navbar-top {
    padding: 23px 0;
    height: 10vh;
}

#house {
    background-color: #0F434E;
}

.navbar-top a:hover {
    text-decoration: underline;
    color: white;
}

.navbar-bottom a:hover {
    background-color: #0F434E;
    color: black;
    text-decoration: underline;
}

.navbar-top a,
.navbar-bottom a,
.navbar-top {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.navbar-top a {
    color: white;
}

.navbar-bottom {
    color: white;
    padding: 0px !important;
    height: 7vh;
    background-color: #0f444ee7;
}

.navbar-bottom .nav {
    height: 100%;
}

.border-a {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-link {
    height: 100% !important;
}

.navbar-bottom .nav a {
    display: flex;
    height: 100% !important;
    margin: auto;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    border-left: 1px solid #0F434E;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    height: 45px;
    width: auto;
}

.navbar-bottom
/* -- EFFECT UNDERLINE DARK -- */

.underline-effect-dark {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline-effect-dark::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #0F434E;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.underline-effect-dark:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* -- EFFECT UNDERLINE WHITE -- */

/* .underline-effect-white {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline-effect-white::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.underline-effect-white:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

/* -- FOOTER -- */

.socials a {
    background: white;
    font-size: 22px;
    padding: 7px 7px 7px 7px;
    width: 45px;
    height: 45px;
    text-align: center;
    display: block;
    border-radius: 20px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.socials a:hover {
    background: #168896;
}

footer {
    position: relative;
    background-color: #0F434E;
    color: white;
    text-decoration: none;
    background-image: url('logo_footer.png');
    background-size: 550px;
    background-position: 80% bottom;
    background-repeat: no-repeat;

}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.titreFooter {
    font-weight: bold;
    font-size: 1.5em;
}

.top-footer,
.content-footer {
    border-bottom: 1px solid white;
}

.content-footer,
.bottom-footer {
    font-size: 0.9em;
}

.bottom-footer {
    padding: 20px;
}

.top-footer,
.content-footer {
    padding: 45px;
}


.footer-logo {
    width: 230px;
}

/* -- BREADCRUMB -- */

.breadcrumb li {
    padding: 10px 0;
}

.breadcrumb {
    border-bottom: solid 1px #0F434E;
}

.breadcrumb li a {
    text-decoration: none;
    color: #0F434E;
}

/* -- TITRES -- */

h1 {
    padding-top: 40px;
    padding-bottom: 35px;
    color: #0F434E;
    font-weight: 350;
}

h2 {
    font-weight: 300;
    color: #168896;
    padding: 40px 0;
}

h3 {
    padding: 40px 0;
    color: #0F434E;
    font-weight: 250px;
}

h4 {
    color: #0F434E;
    padding: 20px 0;
    font-weight: 200;
}

h5 {
    color: #0F434E;
    padding: 40px 0;
    font-weight: 10;
}

/* -- BOUTONS -- */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #168896 !important;
    border-color: #168896 !important;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    border-color: #168896 !important;
}

.btn-outline-primary {
    --bs-btn-color: #168896 !important;
}

.btn-outline-primary:hover {
    background-color: #168896 !important;
}

/* -- HOMEPAGE -- */

.banner {
    height: 83vh;
    width: 100%;
    background-color: beige;
    background: url('../images/overlay.png'), url('../images/road.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .info h1 {
    padding-top: 15%;
    font-size: 3em;
    font-weight: 700;
    color: #168896;
    letter-spacing: 2px;
}

.banner .info p {
    font-size: 2em;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
}

.banner .info a {
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 20px;
    font-size: 0.9em;
    font-weight: 600;
}

.banner .info a:hover {
    color: #168896;
}

/* - produits préférés - */

.bannerProduct {
    height: 60px;
    background-color: #0F434E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictureProduct img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #168896;
}

.bannerProduct h1 {
    color: white;
    font-size: 16px !important;
    text-align: center;
}

.voir-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.voir-plus a {
    text-decoration: underline;
    text-decoration-color: #168896;
    text-decoration-thickness: 2px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.voir-plus a:hover {
    color: #168896;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text p {
    margin: 25px 10px;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

/* - carousel - */

.carousel-item {
    background: #fff;
    opacity: 0.9;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.overlay-image {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; */
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

#mon-carousel .carousel-control-next i,
#mon-carousel .carousel-control-prev i {
    font-size: 40px;
    color: #0F434E !important;
}

#mon-carousel .carousel-indicators li {
    background-color: #0F434E;
}

.carousel-inner h1 {
    color: #168896;
    font-size: 55px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.carousel-inner h3 {
    padding: 20px 0;
}

.carousel-inner .btn {
    margin-top: 5px;
}

/* - confiance - */
.confiance .row img {
    padding-top: 20px;
    width: 140px;
    height: auto;
}

.revend {
    padding-bottom: 60px;
}

.newsletter {
    background-color: #f9f9f9;
    height: 500px;
}

.newsletter .container-xl .align-self-end .col .row .col h3 {
    padding-top: 160px;
}

.newsletter .container-xl .align-self-end .col img {
    width: 40%;
    height: auto;
    padding-top: 115px;
}

.confiance {
    margin: 200px 0;
}

.content-partners {
    text-align: center;
}

.content-partners h2 {
    text-transform: uppercase;
    font-size: 26px;
    margin: 30px 0 5px;
    color: #0F434E;
    padding: 15px;
    text-align: center;
}

.content-partners h3 {
    font-size: 17px;
    margin: 0 0 1px;
    color: #0F434E;
    padding: 5px 20px;
}

.content-partners h4 {
    font-size: 17px;
    margin: 0 0 1px;
    color: #168896;
    padding: 5px 20px;
}

.content-partners p {
    font-size: 17px;
    margin: 0 0 1px;
    padding: 5px 20px;
}

.content-partners a h2 {
    color: #168896;
}

.content-partners a {
    text-decoration: none;
}

.card-partners {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
    height: 280px;
    margin-bottom: 80px;
}

.card-partners:hover a h2 {
    color: #0F434E;
}

.partners {
    margin: 90px 0;
}

/* - conseils - */

.a_propos {
    margin: 100px 0;
}

.card-services {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
    height: 420px;
    margin-bottom: 80px;
    border-top: 5px solid #168896;
    border-bottom: 5px solid #168896;
}

.card-services img {
    display: block;
    width: 50px;
    height: auto;
    margin: auto;
    padding: 30px 0;
}

.card-services p,
.card-services h1,
.card-services img {
    text-align: center;
}

.card-services h1 {
    font-size: 28px;
    color: #168896;
    padding-bottom: 15px;
    padding-top: 0;
}

.card-services p {
    padding: 0 20px;
    font-size: 15px;
}

/*-- CONTACT --*/

.contact-help {
    padding: 20px 0;
}

/* -- ABOUT -- */

.presentation-marconnet {
    margin: 100px 0;
}

.presentation-marconnet #notre-objectif {
    font-weight: bold;
}

.carr {
    padding-bottom: 160px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img11 img {
    height: 100px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 100%;
}

.img22 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 30px;
    border: 4px solid #0F434E;
    margin-top: -70px;
}

.main-texte {
    padding: 10px 0;
    text-align: center;
}

.main-texte h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 1px;
    color: #0F434E;
    padding: 20px;
}

.main-texte h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 1px;
    color: #0F434E;
    padding: 10px;
}

.main-texte p {
    font-size: 16px;
    padding: 0 35px;
}

.linkedin {
    text-align: center;
    padding-bottom: 20px;
}

.linkedin i {
    font-size: 20px;
    color: #168896;
}

.team-members {
    margin-top: 100px 0;
}

.distribNational {
    padding: 100px 0 300px 0;
}

.distribNational img {
    width: 350px;
    height: auto;
}

/* -- LOGIN -- */

.connexion-form {
    padding: 30px 0 600px;
}

/* -- DEMONSTRATION -- */

.form-demonstration {
    margin: 40px 0 100px;
}

/* -- ADMIN -- */
.in-line {
    display: inline;
    padding: 8px;
}

.admin {
    padding-top: 40px;
}

/* --------- */

.logo {
    height: 45px;
    width: auto;
}

.nomPartenaire {
    font-size: 1.5em;
    font-weight: bold;
    color: #0F434E;
}

.youtube {
    width: 550px;
    height: 300px;
}