.in-line {
    display: inline;
    padding: 8px;
}


footer {
    background-color: #0F434E;
    color: white;
    margin-top: 50px;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:visited {
    text-decoration: none;
}

.titreFooter {
    font-weight: bold;
    font-size: 1.5em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #168896 !important;
    border-color: #168896 !important;
}

.champsObligat {
    font-style: italic;
}

.logo {
    width: 30px;
}

.nomPartenaire {
    font-size: 1.5em;
    font-weight: bold;
    color: #0F434E;
}

.h1 {
    color: #0F434E;
}

.youtube {
    width: 550px;
    height: 300px;
}

.navbar_bottom {
    color: white;
    padding: 30px;
}

.navbar_logo {
    width: 300px;
    height: auto;
}

.top_footer,
.content_footer {
    border-bottom: 1px solid white;
}

.content_footer {
    font-size: 0.85em;
}

.bottom_footer {
    font-size: 0.85em;
}

.top_footer,
.bottom_footer,
.content_footer {
    padding: 13px;
}

.footer_logo {
    width: 230px;
}

#test {
    fill: yellow;
}

.newsletter {
    background-color: #F3F3F3;
    height: 200px;
}