<div class="row justify-content-beetween align-items-center">
	<div class="col-auto align-middle nomPartenaire">
		<p>{{marque}}</p>
	</div>
	<div class="col">
		<img src="{{asset(logo)}}">
	</div>
</div>
