<div style="padding-top: 80px; padding-bottom:10px" class="row align-items-center justify-content-between">
	<div class="col-auto nomPartenaire">
		<p>{{marque}}</p>
	</div>
	<div class="col-auto">
		<img src="{{asset(logo)}}">
	</div>
</div>
