{% extends 'base.html.twig' %}

{% block title %}Mofifier un avantage
{% endblock %}

{% block body %}
	<h1>Mofifier un avantage</h1>

	{{ include('admin_crud_avantage/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_admin_crud_avantage_index') }}">Retour à la liste des avantages</a>

	{{ include('admin_crud_avantage/_delete_form.html.twig') }}
{% endblock %}
