{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel avantage
{% endblock %}

{% block body %}
	<h1>Créer un nouvel avantage</h1>

	{{ include('admin_crud_avantage/_form.html.twig') }}

	<a href="{{ path('app_admin_crud_avantage_index') }}">Retour à la liste des avantages</a>
{% endblock %}
