<div class="col-3">
	<div class="card">
		<div style="padding: 0 0 30px;">
			<div class="bannerProduct">
				<h1>{{ nomProduit }}</h1>
			</div>
			<div class="pictureProduct">
				<img src="{{ asset('images/' ~ photo ) }}" alt="">
			</div>
			<div class="main-text">
				<p>{{ description }}</p>
			</div>
			<div class="voir-plus">
				<a href={{ lien }}>En savoir plus</a>
			</div>
		</div>
	</div>
</div>
