<div class="produit_prefere">
	<div class="row text-center">
		<div class="col-12 m-1">
			<img src="{{image}}" alt="">
		</div>
	</div>

	<div class="row text-center">
		<div class="col-12 m-1">
			{{productName}}
		</div>
	</div>

	<div class="row text-center">
		<div class="col-12 m-1">
			<button type="button" class="btn btn-primary">Voir le produit</button>
		</div>
	</div>
</div>
