<div class="mb-5 col-lg-3 col-md-4 col-sm-6 mb-3">
	<div class="card h-100">
		<div style="padding: 0 0 30px;">
			<div class="bannerProduct">
				<h1>{{ nomProduit }}</h1>
			</div>
			<div class="pictureProduct">
				<img src="{{ asset('images/prod/' ~ photo ) }}" alt="">
			</div>
			<div class="minia-prod-pref">

				{% set advantages = avantages|split(';') %}
				{% set a = 0 %}
				{% set break = false %}
				{% for advantage in advantages %}
					{% set a = a + 1 %}
					{% if a > 4 %}
						{% set break = true %}
					{% endif %}
					{% if break == false %}
						<p>
							<i style="color: white" class="fa-solid fa-check"></i>
							{{ advantage }}</p>
					{% endif %}
				{% endfor %}
			</div>
			<div class="voir-plus">
				<a href={{ lien }}>En savoir plus</a>
			</div>
		</div>
	</div>
</div>
