{% extends 'base.html.twig' %}

{% block title %}New Produit
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Créer un nouveau produit</h1>

		<p>Informations :
		</p>
		<p>Avantages : écrire sous la forme : "Taille:1m;Poids:40 kg;Couleur:Bleue" (sans les guillemets)</p>
		<p>Les caractéristiques s'écrivent sur le même format</p>

		{{ include('admin_crud_produit/_form.html.twig') }}

		<a href="{{ path('app_admin_crud_produit_index') }}">Liste des produits</a>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/images-produits.js') }}"></script>
{% endblock %}
