{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<h3>Nous contacter</h3>

<p>Besoin d’un renseignement ou d’un devis ? Faites le nous savoir en remplissant ce formulaire. Nous vous recontacterons très prochainement.</p>

<img src="https://picsum.photos/80/80" alt="">

<p>Besoin d'aide ?</p>

<p>02 45 26 01 70</p>

TODO : login form
<br>                                                                                                                                                                                                                                                                                                       
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.638083836414!2d1.6816035343273175!3d48.59762818133382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e418e496cd2791%3A0xc4a74471adfe7ab2!2sMARCONNET%20TECHNOLOGIES%E2%84%A2!5e0!3m2!1sfr!2sfr!4v1665396643766!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}
