{% extends 'base.html.twig' %}

{% block title %}Mettre à jour l'entreprise{% endblock %}

{% block body %}
    <div class="container-xl mt-3 mb-3">
        <h4>Mettre à jour l'entreprise</h4>

        {{ include('company/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_company_index') }}">Retour à la liste des entreprises partenaires</a>

        {{ include('company/_delete_form.html.twig') }}
    </div>
{% endblock %}
