<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3">
	<div class="card card-services h-100">
		<div class="content-partners">
			<img src="{{ asset('images/' ~ image ) }}" alt="">
			<h1>{{titre}}</h1>
			<p>{{contenu}}</p>
		</div>
	</div>
</div>
