<div class="col-12 col-sm-6 col-xl-3 mb-3">
	<div class="card card-services h-100">
		<div class="content-partners">
			<img src="{{ asset('images/' ~ image ) }}" alt="">
			<h4>{{titre}}</h4>
			<p>{{contenu}}</p>
		</div>
	</div>
</div>
