<div class="col-6 col-md-4 col-lg-3">
	<div class="card-services">
		<div class="content-partners">
			<img src="{{ asset('images/' ~ image ) }}" alt="">
			<h1>{{titre}}</h1>
			<p>{{contenu}}</p>
		</div>
	</div>
</div>
