<div class="home_icone_apropos">
	<div class="row text-center">
		<div class="col-12 m-1">
			<img src="{{image}}" alt="">
		</div>
	</div>

	<div class="row text-center">
		<div class="col-12 m-1">
			<h1>{{titre}}</h1>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-12 m-1">
			<p>{{contenu}}</p>
		</div>
	</div>
</div>
