{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="container-xl">


		<div class="site_top">
			<h1>Marconnet technologies™</h1>
			<h2>Le spécialiste de la mobilité sur mesure dans le monde du handicap.</h2>
			<img src="https://picsum.photos/80/80" alt="">
		</div>


		<div class="produits_en_avant">
			<h3>Trycicles thérapeuthiques Draisin</h3>
			<img src="https://picsum.photos/80/80" alt="">
			<p>Nous avons décidé d'importer une nouvelle gamme de tricycle.
																																																															Les VELOS UTILITAIRES, destinés aux entreprises, collectivités locales, mairies, établissements de santé ... qui souhaite transporter écologiquement des marchandises ou modifier leur façon de travailler.</p>
		</div>

		<div class="produits_preferes">
			<h3>Les produits préférés de nos clients</h3>
		</div>

		<div class"a_propos">
			<h3>À propos de Marconnet technologies™</h3>

			<p>Marconnet technologies™ est spécialisée dans la mobilité et unique sur le marché depuis plus de 18 ans.
																																																															Nous commercialisons des matériels pour améliorer le déplacement des gens en perte de mobilité.</p>

			TODO: METTRE LES BLOCS D'ICONES

			<p>En savoir plus sur Marconnet technologies™</p>
		</div>

		<div class="test_materiel">
			<h3>Nous vous proposons de tester le matériel avant de l'acheter.</h3>

			<p>Assurez-vous que le matériel soit parfaitement adapté à vous en essayant nos produits. Vous pouvez venir au showroom, ou alors, c'est le showroom qui viendra à vous.</p>

			<p>Je souhaite tester le matériel.</p>
		</div>

		<div class="confiance">
			<h3>Ils nous ont fait confiance</h3>
			<p>Depuis plus de 15 ans, Marconnet technologies™ travaille avec des acteurs importants du monde de la santé. Nous sommes fiers d’accompagner des marques leaders.</p>
			<h4>Des professionnels de santé : Ehpads, ADAPEI, Fondations</h4>
			<img src="https://picsum.photos/80/80" alt="">
			<img src="https://picsum.photos/80/80" alt="">
			<img src="https://picsum.photos/80/80" alt="">
			<h4>Prestataires de santé à domicile :</h4>
			<img src="https://picsum.photos/80/80" alt="">
			<img src="https://picsum.photos/80/80" alt="">
			<img src="https://picsum.photos/80/80" alt="">
		</div>

		<div class="container-fluid newsletter">
			<div class="container-xl">
				<h3>Inscrivez-vous à notre newsletter</h3>
				<p>Recevez régulièrement nos actualités et tenez-vous informé des nouveautés.</p>
				<input type="text" id="email" name="email">
				<button type="button" class="btn btn-primary">Je m'inscris</button>
			</div>
		</div>
	</div>
{% endblock %}
