{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur
{% endblock %}

{% block body %}
	<h1>Modifier utilisateur</h1>

	{{ include('admin_crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_admin_crud_index') }}">Retour à la liste</a>

	{{ include('admin_crud/_delete_form.html.twig') }}
{% endblock %}
