{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur
{% endblock %}

{% block body %}
	<h1>Créer un nouvel utilisateur</h1>

	{{ include('admin_crud/_form.html.twig') }}

	<a href="{{ path('app_admin_crud_index') }}">Retour à la liste des utilisateurs</a>
{% endblock %}
