<div class="top_footer">
    <img src="https://picsum.photos/80/50" alt="">
    <p>Suivez-nous sur les réseaux sociaux</p>
    <a href="https://www.youtube.com/channel/UCBVjkgVyozExIOlx5O40zxQ/featured"><img src="https://picsum.photos/80/50" alt=""></a>
    <a href="https://www.facebook.com/marconnettechnologies"><img src="https://picsum.photos/80/50" alt=""></a>
    <a href="https://www.instagram.com/marconnet_technologies/?hl=fr"><img src="https://picsum.photos/80/50" alt=""></a>
    <a href="https://fr.linkedin.com/company/marconnet-technologies%E2%84%A2"><img src="https://picsum.photos/80/50" alt=""></a>
</div>

<div class="content_footer">
    <ul>
        <li>Revendeurs
            <ul>
                <li><a href="#">Espace Revendeurs</a></li>
                <li><a href="#">S'inscrire</a></li>
                <li><a href="#">Se connecter</a></li>
            </ul>
        </li>
        <li>Marconnet technologies™
            <ul>
                <li><a href="#">Qui sommes-nous ?</a></li>
                <li><a href="#">S'inscrire à la newsletter</a></li>
                <li><a href="#">Itinéraire et plan d'accès</a></li>
                <li><a href="#">Notre catalogue</a></li>
                <li><a href="#">Nos moyens de livraison</a></li>
            </ul>
        </li>
        <li>À propos
            <ul>
                <li><a href="#">Formulaire de rétractation</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">CGV</a></li>
            </ul>
        </li>
        <li>Nos coordonnées
            <ul>
                <li>12 rue des Longs Réages</li>
                <li>28230 Épernon</li>
                <li><img src="https://picsum.photos/80/50" alt="">02 45 26 01 70</li> 
            </ul>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        </li>
    </ul>
</div>                                                                                                                                                                                                   