<footer>
	<div class="container-fluid">
		<div
			class="container-xl">

			{# footer partie 1 #}
			<div class="row">
				<div class="row justify-content-between top-footer align-items-center">
					<div class="col-auto">
						<a href=""><img class="footer-logo" src="{{asset('images/logo_base_blanc_mt.png')}}" alt=""></a>
					</div>
					<div class="col-auto">

						<div class="row socials align-items-center">
							<div class="col-auto" style="font-style: italic">
								Suivez-nous sur les réseaux sociaux
							</div>
							<div class="col-auto">
								<a href="https://www.youtube.com/channel/UCBVjkgVyozExIOlx5O40zxQ" target="_blank">
									<i class="fa-brands fa-youtube" style="color: #0F434E; height: 90px"></i>
								</a>
							</div>
							<div class="col-auto">
								<a href="https://fr-fr.facebook.com/marconnettechnologies/" target="_blank">
									<i class="fa fa-facebook" style="color: #0F434E"></i>
								</a>
							</div>
							<div class="col-auto">
								<a href="https://www.instagram.com/marconnet_technologies/" target="_blank">
									<i class="fa fa-instagram" style="color: #0F434E"></i>
								</a>
							</div>
							<div class="col-auto">
								<a href="https://fr.linkedin.com/company/marconnet-technologies%E2%84%A2" target="_blank">
									<i class="fa fa-linkedin" style="color: #0F434E"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			{# footer partie 2 #}
			<div class="row content-footer">
				<div class="col-3">
					<div class="row titreFooter">
						<p>Revendeurs</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">Espace revendeurs</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="{{ path('app_register') }}">
								S'inscrire</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="{{ path('security_login') }}">Se connecter</a>
						</p>
					</div>
				</div>

				<div class="col-3">
					<div class="row titreFooter">
						<p>Marconnet technologies™</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="{{ path('about') }}">Qui sommes-nous ?</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">S'inscrire à la newsletter</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">Itinéraire et plan d'accès</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">Notre catalogue</a>
						</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">Nos moyens de livraison</a>
						</p>
					</div>
				</div>

				<div class="col-3">
					<div class="row titreFooter">
						<p>À propos</p>
					</div>
					<div class="row contentFooter">
						<p>
							<a href="#">Mentions légales</a>
						</p>
					</div>
				</div>

				<div class="col-3">
					<div class="row titreFooter">
						<p>Contact</p>
					</div>
					<div class="row contentFooter">
						<p>12 rue des Longs Reages</p>
					</div>
					<div class="row contentFooter">
						<p>28 230 Épernon</p>
					</div>
					<div class="row contentFooter">
						<div class="col-1">
							<i class="fa fa-phone"></i>
						</div>
						<div class="col-11 contentFooter">
							<a href="tel:+33245260170">02 45 26 01 70</a>
						</div>
					</div>
				</div>
			</div>

			{# footer partie  #}
			<div class="row bottom-footer align-items-center">
				<div class="col-12">
					Copyright marconnet technologies™ 2022
				</div>
			</div>
		</div>
	</div>
</footer>
