{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}
	<img src="https://picsum.photos/60/60" alt="">
	<h1>Accès interdit</h1>
	<h2>Nous sommes désolés, mais vous n’avez pas accès à cette ressource.</h2>
	<h2>Essayez de vous connecter.</h2>
	<a href="#">Retourner à l'accueil</a>
{% endblock %}
