{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			<img src="https://picsum.photos/800/800" alt="">
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12">
					<h1>Accès interdit</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2>Nous sommes désolés, mais vous n’avez pas accès à cette ressource.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2>Essayez de vous connecter.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="button" class="btn btn-primary">Retourner à l'accueil</button>
				</div>
			</div>
		</div>
	</div>w
{% endblock %}
