{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col">
			<img src="https://picsum.photos/60/60" alt="">
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<h1>Oups !</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2>La page demandée n'existe pas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2>Peut être qu'elle a été déplacée ou supprimée.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#">Retourner à l'accueil</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
