{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}
	<img src="https://picsum.photos/60/60" alt="">
	<h1>Oups !</h1>
	<h2>La page demandée n'existe pas</h2>
	<h2>Peut être qu'elle a été déplacée ou supprimée.</h2>
	<a href="#">Retourner à l'accueil</a>
{% endblock %}
