{% extends 'base.html.twig' %}

{% block title %}Hello DocumentationController!{% endblock %}

{% block body %}

<ol>
    <li>Accueil</li>
    <li>Documentations</li>
</ol>

<h3>Nos tarifs et documentations destinés aux revendeurs médicaux</h3>

<p>Découvrez toutes nos documentations avec les prix hors taxe sur nos produits et nos marques.</p>

<img src="https://picsum.photos/100/100" alt="">
<img src="https://picsum.photos/100/100" alt="">
<img src="https://picsum.photos/100/100" alt="">

{% endblock %}
