{% extends 'base.html.twig' %}

{% block title %}Espace professionnel
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h1>Nos tarifs et documentations, destinés aux revendeurs médicaux</h1>
		<p>Découvrez toutes nos documentations avec les prix hors taxe sur nos produits et nos marques.</p>

		<a href="#"><img src="https://picsum.photos/200/200" alt=""></a>
		<a href="#"><img src="https://picsum.photos/200/200" alt=""></a>
		<a href="#"><img src="https://picsum.photos/200/200" alt=""></a>
	</div>
{% endblock %}
