{% extends 'base.html.twig' %}

{% block title %}Espace professionnel
{% endblock %}

{% block body %}
	<h3>Nos tarifs et documentations destinés aux revendeurs médicaux</h3>
	<p>Découvrez toutes nos documentations avec les prix hors taxe sur nos produits et nos marques.</p>

	<a href="#"><img src="https://picsum.photos/50/50" alt=""></a>
	<a href="#"><img src="https://picsum.photos/50/50" alt=""></a>
	<a href="#"><img src="https://picsum.photos/50/50" alt=""></a>
{% endblock %}
