{% extends 'admin.html.twig' %}

{% block title %}Nouvelle marque
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Créer une nouvelle marque</h1>

		{{ include('admin_crud_marque/_form.html.twig') }}

		<a href="{{ path('app_admin_crud_marque_index') }}">Retour à la liste des marques</a>
	</div>
{% endblock %}
